/*font-family: 'Chivo', sans-serif;
font-family: 'Overpass', sans-serif;*/

body {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Chivo", sans-serif;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

p {
  color: #404042;
  opacity: .7;
}

.container {
  margin: auto;
  width: 800px;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/background.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  text-align:center;
}

.button-blue {

}

.card-white {


}

.footer {

}
